In [1]:
import pandas as pd
import numpy as np

In [2]:
Scores=pd.DataFrame({'id':[1,2,3,4,5,6],'score':[3.5,3.65,4,3.85,4,3.65]})
Scores

   id  score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

In [5]:
# DataFrame.rank(axis=0, method='average', numeric_only=False, na_option='keep', ascending=True, pct=False)[source]
#Compute numerical data ranks (1 through n) along axis.

#By default, equal values are assigned a rank that is the average of the ranks of those values.

#Parameters
#axis{0 or ‘index’, 1 or ‘columns’}, default 0 【axis=0 means rank in column, =1 means rank in row】
#Index to direct ranking. For Series this parameter is unused and defaults to 0.

#method{‘average’, ‘min’, ‘max’, ‘first’, ‘dense’}, default ‘average’
#How to rank the group of records that have the same value (i.e. ties):

#average: average rank of the group

#min: lowest rank in the group

#max: highest rank in the group

#first: ranks assigned in order they appear in the array

#dense: like ‘min’, but rank always increases by 1 between groups.

#numeric_onlybool, default False
#For DataFrame objects, rank only numeric columns if set to True.

#Changed in version 2.0.0: The default value of numeric_only is now False.

#na_option{‘keep’, ‘top’, ‘bottom’}, default ‘keep’
#How to rank NaN values:

#keep: assign NaN rank to NaN values

#top: assign lowest rank to NaN values

#bottom: assign highest rank to NaN values

#ascendingbool, default True
#Whether or not the elements should be ranked in ascending order.

#pctbool, default False
#Whether or not to display the returned rankings in percentile form.

#Returns
#same type as caller
#Return a Series or DataFrame with data ranks as values.

In [3]:
Scores['rank']=Scores['score'].rank(axis=0,method='dense',ascending=False)

In [4]:
Scores[['score','rank']].sort_values('score',ascending=False)

   score  rank
2   4.00   1.0
4   4.00   1.0
3   3.85   2.0
1   3.65   3.0
5   3.65   3.0
0   3.50   4.0