In [1]:
import pandas as pd
import numpy as np

In [2]:
Logs=pd.DataFrame({'id':[1,2,3,4,5,6,7],'num':[1,1,1,2,2,2,2]})
Logs

   id  num
0   1    1
1   2    1
2   3    1
3   4    2
4   5    2
5   6    2
6   7    2

In [3]:
consecutive_number=set() #A Set in Python is a collection of unique elements which are unordered and mutable
for i in range(len(Logs['id'])):
    for j in range(len(Logs['id'])):
        for k in range(len(Logs['id'])):
            if ((j==i+1 and j==k-1) and (Logs.loc[j,'num']==Logs.loc[i,'num']==Logs.loc[k,'num'])):
                consecutive_number.add(Logs.loc[j,'num'])
                
for num in consecutive_number:
    print (num)

1
2