In [1]:
import pandas as pd
import numpy as np

In [2]:
Person=pd.DataFrame({'id':[1,2,3],'email':['a@b.com','c@d.com','a@b.com']})
Person

   id    email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

In [4]:
Email=set()
for i in range(len(Person['id'])):
    for j in range(len(Person['id'])):
        if i != j and Person.loc[i,'email']==Person.loc[j,'email']:
            Email.add(Person.loc[i,'email'])
print(Email)

{'a@b.com'}