In [1]:
import pandas as pd
import numpy as np

In [2]:
Customers=pd.DataFrame({'id':[1,2,3,4],'name':['Joe','Henry','Sam','Max']})
Customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [3]:
Orders=pd.DataFrame({'id':[1,2],'customerId':[3,1]})
Orders

   id  customerId
0   1           3
1   2           1

In [4]:
table=pd.merge(Customers,Orders,how='left',left_on='id',right_on='customerId')
table

   id_x   name  id_y  customerId
0     1    Joe   2.0         1.0
1     2  Henry   NaN         NaN
2     3    Sam   1.0         3.0
3     4    Max   NaN         NaN

In [13]:
table[table.isnull().values==True]

   id_x name  id_y  customerId
0   NaN  NaN   NaN         NaN
1   NaN  NaN   NaN         NaN
2   NaN  NaN   NaN         NaN
3   NaN  NaN   NaN         NaN