In [1]:
import pandas as pd
import numpy as np

In [2]:
Person=pd.DataFrame({'id':[1,2,3,4,5],'email':['john@example.com','bob@example.com','john@example.com','l@example.com',']})
Person

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [5]:
for i in range(len(Person['id'])):
    for j in range(len(Person['id'])):
        if Person.loc[i,'email']==Person.loc[j,'email'] and i<j:
            print(Person.drop(index=j))

   id             email
0   1  john@example.com
1   2   bob@example.com