In [1]:
import pandas as pd
import datetime as dt

In [2]:
Activity=pd.DataFrame({'player_id':[1,1,2,3,3],
                       'device_id':[2,2,3,1,4],
                       'event_date':['2016-03-01','2016-05-02','2017-06-25','2016-03-02','2018-07-03'],
                       'games_played':[5,6,1,0,5]})
Activity

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

In [3]:
#511.Game Play Analysis I
Activity1=Activity.groupby(['player_id']).apply(lambda x: pd.to_datetime(x['event_date']).min())
Activity1

player_id
1   2016-03-01
2   2017-06-25
3   2016-03-02
dtype: datetime64[ns]

In [4]:
#512.Game Play Analysis II
#find the index of each player with first loggin
Activity['event_date'] = pd.to_datetime(Activity['event_date'])
index = Activity.groupby(['player_id'])['event_date'].idxmin()
Activity2=Activity.loc[index, ['player_id', 'device_id']]
print(Activity2)

   player_id  device_id
0          1          2
2          2          3
3          3          1