In [1]:
import pandas as pd
import datetime as dt

In [2]:
Activity=pd.DataFrame({'player_id':[1,1,1,3,3],
                       'device_id':[2,2,3,1,4],
                       'event_date':['2016-03-01','2016-05-02','2017-06-25','2016-03-02','2018-07-03'],
                       'games_played':[5,6,1,0,5]})
Activity['event_date'] = pd.to_datetime(Activity['event_date'])
Activity

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-05-02             6
2          1          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5

In [3]:
#534.Game Play Analysis III
Activity['games_played_so_far']=0
Activity

   player_id  device_id event_date  games_played  games_played_so_far
0          1          2 2016-03-01             5                    0
1          1          2 2016-05-02             6                    0
2          1          3 2017-06-25             1                    0
3          3          1 2016-03-02             0                    0
4          3          4 2018-07-03             5                    0

In [4]:
for i in range(len(Activity)):
    player_id = Activity.loc[i, 'player_id']
    event_date = Activity.loc[i, 'event_date']
    games_played = Activity.loc[i, 'games_played']

    Activity.loc[i, 'games_played_so_far'] = Activity.loc[(Activity['player_id'] == player_id) & (Activity['event_date'] <= event_date), 'games_played'].sum()


print(Activity[['player_id','event_date','games_played_so_far']])

   player_id event_date  games_played_so_far
0          1 2016-03-01                    5
1          1 2016-05-02                   11
2          1 2017-06-25                   12
3          3 2016-03-02                    0
4          3 2018-07-03                    5