In [1]:
import pandas as pd
import datetime as dt

In [2]:
Activity=pd.DataFrame({'player_id':[1,1,2,2,3],
                       'device_id':[2,2,3,1,4],
                       'event_date':['2016-03-01','2016-03-02','2017-06-25','2017-06-26','2018-07-03'],
                       'games_played':[5,6,1,0,5]})
Activity['event_date'] = pd.to_datetime(Activity['event_date'])
Activity

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-03-02             6
2          2          3 2017-06-25             1
3          2          1 2017-06-26             0
4          3          4 2018-07-03             5

In [3]:
#group the data by player_id and find the min login date for each player
first_login_dates = Activity.groupby('player_id')['event_date'].min().reset_index()

In [4]:
merged=Activity.merge(first_login_dates,on='player_id')

In [5]:
count = len(merged[merged['event_date_x'] == merged['event_date_y'] + pd.DateOffset(1)]['player_id'].unique())
total = len(Activity['player_id'].unique())

fraction = round(count / total, 2)
print("Fraction of players with consecutive logins:", fraction)

Fraction of players with consecutive logins: 0.67