In [1]:
import pandas as pd
import numpy as np

In [2]:
candidate=pd.DataFrame({'id':[1,2,3,4,5],
                        'name':['A','B','C','D','E']})
candidate

   id name
0   1    A
1   2    B
2   3    C
3   4    D
4   5    E

In [3]:
vote=pd.DataFrame({'id':[1,2,3,4,5],
                   'candidateId':[2,4,3,2,5]})
vote

   id  candidateId
0   1            2
1   2            4
2   3            3
3   4            2
4   5            5

In [11]:
max_candidateId = vote['candidateId'].value_counts().idxmax()
max_candidateId

2

In [14]:
name=candidate.loc[candidate['id']==max_candidateId,'name']
name

1    B
Name: name, dtype: object